{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1>Add a film</h1>
    <p>Fill the forms in and hit submit.</p>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.film_name.label }} {{ form.film_name() }}<br>
        {{ form.film_description.label }} {{ form.film_description() }}<br>
        {{ form.film_summary.label }} {{ form.film_summary() }}<br>
        {{ form.film_length.label }} {{ form.film_length() }}<br>
        {{ form.film_rating.label }} {{ form.film_rating() }}/100<br>
        {{ form.film_year.label }} {{ form.film_year() }}<br>
        {{ form.film_genre.label }} {{ form.film_genre() }}<br>
        {{ form.film_director.label }} {{ form.film_director() }}<br>
        {{ form.film_trailer.label }} {{ form.film_trailer() }}<br>
        {{ form.film_foto.label }} {{ form.film_foto() }}<br>
        {{ form.submit() }}
    </form>
</div>
{% endblock %}